/* Landing Page --------------*/
#standard-page,
.page-template-service-single-php {
	.featured-image {
		margin-right: 15px;
		margin-bottom: 15px;
		img {
			height: auto;
			width: auto;
			box-shadow: none;
		}
	}
}