/* Variables ------------- */

//Colors
$white:#fff;
$black:#000;

$bg-grey: #141819;
$nav-grey: #232423;
$footer-grey: #2a2a2a;
$team-bg-grey: #222222;
$location-bg-grey: #262626;
$blog-grey: #202728;
$med-grey: #363534;
$footer-text-grey: #cecbc1;
$pa-bg-grey: #303030;
$form-grey: #363534;
$opener-grey: #939393;

$active-red: #c71f25;
$headline-red: #580b0c;
$phone-red: #ea1b22;
$comm-bg-red: #470b0b;
$map-red: #9c3637;

$btn-brown: #918474;
$dark-brown: #3c3838;
$about-bg-brown: #bab5af;

//Font stacks
$montserrat: 'Montserrat', helvetica, arial;
$din-black: DinBlack, helvetica, arial;
$din-bold: DinBold, helvetica, arial;
$din-bold-condensed: DinBoldCondensed, helvetica, arial;
$din-bold-italic: DinBoldItalic, helvetica, arial;
$din-condensed: DinCondensed, helvetica, arial;
$din-heavy-italic: DinHeavyItalic, helvetica, arial;
$din-heavy: DinHeavy, helvetica, arial;
$din-italic: DinItalic, helvetica, arial;
$din-light-condensed: DinLightCondensed, helvetica, arial;
$din-light: DinLight, helvetica, arial;
$din-light-italic: DinLightItalic, helvetica, arial;
$din-medium: DinMedium, helvetica, arial;
$din-medium-condensed: DinMediumCondensed, helvetica, arial;
$din-medium-italic: DinMediumItalic, helvetica, arial;
$din-regular: DinRegular, helvetica, arial;
$din-ultra-light: DinUltraLight, helvetica, arial;
$din-ultra-light-condensed: DinUltraLightCondensed, helvetica, arial;
$din-ultra-light-it: DinUltraLightIt, helvetica, arial;
$din-rounded-bold: DinRoundedBold, helvetica, arial;
$din-rounded-light: DinRoundedLight, helvetica, arial;
$din-rounded-medium: DinRoundedMedium, helvetica, arial;
$din-rounded-regular: DinRoundedRegular, helvetica, arial;
$geo-light: GeoLight, helvetica, arial;